.friendList {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 200px;
  /* border: 1px solid #606060; */

  margin-left: auto;
  margin-right: auto;

  background-color: #ffffff;
  margin-bottom: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100px;
  /* background-color: rgba(216, 216, 216, 0.1); */
  padding: 5px 10px;
}

.item:hover {
  background-color: #606060;
}

.item:hover .name {
  color: #fff;
}

.item:not(:last-child) {
  border-bottom: 1px solid #606060;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightcoral;
}

.avatar {
  margin-right: 10px;
  margin-left: 10px;
}

.name {
  color: #212121;
  width: 50px;
}

.isActive {
  background-color: lightgreen;
}
