.transactionContainer {
  padding-bottom: 150px;
}

.transactionHistory {
  width: 600px;

  margin: 0 auto;
  border: 1px solid black;
}

.head {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
}
